
.left-drawer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;

  width: 64px;
  background: var(--card);

  display: flex;
  flex-direction: column;

  transition: width 0.25s ease;
  overflow: hidden;
  z-index: 1000;
}

.left-drawer.open {
  width: 200px;
}

.drawer-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 18px 16px;
  position: relative;
}

.logo {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-name {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.toggle-btn {
  margin-left: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  outline: none;
  position: relative; 
  transition: transform 0.6s ease, left 0.6s ease;
}

.toggle-btn:hover {
  background: var(--success);
}

/* .toggle-btn:active {
  background: var(--success);
} */

.toggle-btn:focus {
  outline: none;
}

.toggle-btn.active {
  left: 150px; 
  transform: rotate(90deg); 
}



.drawer-section {
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.drawer-btn {
  display: flex;
  align-items: center;
  gap: 14px;

  background: none;
  border: none;
  cursor: pointer;

  padding: 10px 12px;
  border-radius: 10px;

  font-size: 14px;
  color: var(--text);

  transition: background 0.2s ease, color 0.2s ease;

  outline: none;
}

.drawer-btn:hover {
  background: var(--primary-soft);
}

.drawer-btn.active {
  background: var(--success);
  color: var(--card);
  font-weight: 500;
}

.drawer-option {
  display: flex;
  align-items: center;
  gap: 14px;

  background: none;
  border: none;
  cursor: pointer;

  padding: 8px 12px;
  border-radius: 8px;

  font-size: 13px;
  color: var(--muted);

  transition: background 0.2s ease, color 0.2s ease;

  outline: none;
}

.drawer-option:hover {
  background: var(--primary);
  color: var(--card);
}

/* COLLAPSED MODE CENTER ICONS */
.left-drawer:not(.open) .drawer-btn,
.left-drawer:not(.open) .drawer-option {
  justify-content: center;
  gap: 0;
  padding-left: 0;
  padding-right: 0;
}

.left-drawer:not(.open) .options-section {
  display: none;
}

button:focus,
button:active,
.drawer-btn:focus,
.drawer-btn:active,
.drawer-option:focus,
.drawer-option:active {
  outline: none;
}
